body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #ddd;
}

header,
main,
footer {
	background-color: white;
    font-family: Helvetica;
    font-size: 16px;
}

header {
    background-color: white;
    padding: 1;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #585858;
}

h1, h2, h3 {
    margin: 0;
    padding: 5;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: #245B59;
}

h3 {
    font-size: 20px;
    color: #245B59;
}

nav ul {
    background-color: #245B59;
    font-size: 18px;
    text-align: center;
    padding: 15;
}

nav ul li {
    display: inline-block;
    margin-right: 40;
}

p {
	padding: .5em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

figcaption {
    font-size: 12px;
    font-style: italic;
    color: #245B59;
}

footer {
	text-align: center;
    padding: 5;
}

footer p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #245B59;
}

img {
	width: 100%;
    max-width: 100%;
}

.end {
    color: #585858;
}